$max-width: 1280px;
$navbar-height: 65px;
$content-padding: 0 20px;

$main-font: "Muli", sans-serif;
$logo-font: "Poppins", sans-serif;

$green: #35CDB8;
$dark: #26302E;
$light-grey: #F8F8F8;
$dark-grey: #888888;
$white: #FFFFFF;